/* This is for dark mode  start*/
:root {
    --bg-main: #ffffff;
    --bg-soft: #f9f9f9;
    --text-main: #222;
    --text-muted: #555;
    --green: #214B47;
    --skin: #f3d3c8;
}

/* This is a buttons arrow  */

.fa-arrow-right {
    margin-left: 10px;
}

a, button {
    cursor: pointer;
}

/* ------------ */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
    overflow-x: hidden;
    transition: all 0.3s ease;
    scroll-behavior: smooth;
}



.top-header {
    width: 100%;
    background-color: var(--green);
    color: var(--bg-main);
    display: flex;
    align-items: center;    /* --this is use for center items */
    justify-content: center;
    position: relative; /* --this is use for position the items */   
    font-size: 18px;
    padding-bottom: 5px;
}

.social-icons {
    position: absolute;
    right: 18px;
}

.social-icons i {
    color: var(--bg-main);
    margin-left: 15px;
    cursor: pointer;
    font-size: 18px;
    transition: ease 0.5s;
}

.social-icons i:hover{
    opacity: 0.7;
    transform: scale(1.2);
}

/* Top Header ends */

.main-header {
    background-color: var(--bg-main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 1px solid var(--bg-main);
}

.search-box {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: var(--bg-main);
    border: 0.5px solid var(--text-muted);
    border-radius: 50px;
    padding: 10px 15px; 
    /* width: 260px; */
}

.search-box i {
    color: var(--text-muted);
    margin-right: 10px;
}

.search-box input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 14px;
}

.logo {
    font-size: 28px;
    position: relative;
    left: 50;
    /* font-weight: bold; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--green);
}

.logo img {
    width: 9vw;
    color: var(--green);
    filter: invert(23%) sepia(11%) saturate(900%) hue-rotate(130deg) brightness(30%) contrast(90%);
}

/* header Right Icons */

.header-icons i {
    color: var(--text-muted);
    margin-left: 15px;
    cursor: pointer;
    font-size: 18px;
    transition: ease 0.5s;
}

.header-icons i:hover {
    opacity: 0.7;
    transform: scale(1.2);
    color: #033b25;
}
 
.navbar {
    background-color: var(--skin);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 5px 15px 5px;

}

.navbar a{
    text-decoration: none;
    color: var(--text-muted);
    font-weight: 600;
    font-size: 18px;
    margin-left: 18px;
    transition: 0.3s ease;
    position: relative;
}

.navbar a:hover{
    color: var(--green);
    transform: scale(1.05);
}

/* New Nav  */

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #0b7d4f;
    left: 0;
    bottom: -6px;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
section {
    animation: fadeUp 0.8s ease forwards;
}

/* Hero Section  */

.hero-section {
    min-height: 90vh;
    height: auto;
    background-image: url("./Assest/image1.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items:last baseline;
    
}

.hero-content {
    margin-left: 80px;
    margin-bottom: 80px;
    max-width:600px;
    color: var(--bg-main);
}

.hero-headings {
    font-weight: bold;
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 11px;
}

.hero-content p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 18px;
}

.hero-btn {
    background-color: var(--bg-main);
    width: 260px;
    height: 45px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.hero-btn:hover {
    background-color: var(--green);
    color: var(--bg-main);
    transform: scale(1.02);
    border: none;
    border: 1px solid #ffffff;
}

/* Features Row */

.features-row {
    max-width: 900px;
    background-color: var(--bg-main);
    margin: 0 auto;
    gap: 35px;
    font-size: 21px;
    font-weight: 600;
}

.feature-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* Best Seller Section  */

.bestseller-section {
    padding: 80px 60px;
    /* text-align: center; */
    background-color: var(--bg-main);
}

.bestseller-tabs {
    display: flex;
    gap: 10px;
}

.bestseller-tabs button {
    background-color: var(--bg-main);
    width: 100px;
    height: 45px;
    font-size: 16px;
    cursor: pointer;
    border: 0.5px solid var(--text-muted);
    border-radius: 99em;
    transition: 0.3s ease;   
}

.bestseller-tabs button:hover {
    background-color: var(--green);
    color: var(--bg-main);
    transform: scale(1.05);
}

.bestseller-tabs .active {
    background-color: var(--green);
    color: var(--bg-main);
}

/* Best seller cards */

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
    margin-bottom: 80px;
    margin-top: 20px;
}

.product-card {
    width: 280px;
    text-align: left;
    transition: 0.3s ease;
}

.product-card:hover {
    transform: scale(1.03);
}

.product-card img {
    width: 100%;
    /* height: 320px; */
    height: auto;
    object-fit: cover;
    border-radius: 3px;
    margin-bottom: 15px;
}

.product-card h3 {
    font-size: 1.2em;
    margin-bottom: 8px;
}

.price {
    font-size: 1.1em;
    margin-bottom: 12px;
}

.price span {
    text-decoration-line: line-through;
    opacity: 0.7;
    margin-left: 8px;
}

.color-options {
    display: flex;
    gap: 10px;
}

.color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.gold {
    background-color: #d4af37;
    box-shadow: 0 0 0 0.8px var(--text-muted);
    padding: 1px 1px 1px 1px;
}

.rose {
    background-color: #d8a7a7;
}

.silver {
    background-color: #cfcfcf;
}

.bestseller-btn {
    background-color: var(--green);
    color: var(--bg-main);
    display: block;
    margin: 0 auto;
}

.bestseller-btn:hover {
    background-color: var(--bg-main);
    color: var(--green);
    border: 1.5px solid var(--green);
}

/* Recently Viewed Section  */
.recently-viewed-section {
    padding: 60px;
    background-color: var(--skin);
   
}
.recently-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
}

/* Gift Note Section  */

.gift-notes-section {
    padding: 80px 60px;
}

.gift-heading {
    text-align: center;
    margin-bottom: 50px;
}
.gift-span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gift-content {
    display: flex;
}

.gift-left {
    width: 50%;
}

.gift-left img {
    object-fit: contain;
    height: auto;
    height: 750px;
}

.gift-right {
    width: 50%;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

/* Gift Card  */

.gift-card {
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

.gift-card:hover {
    transform: scale(1.02);
}

.gift-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gift-card button {
    position: absolute;
    bottom: 20px;
    left: 10%;
    border: none;
}

.gift-card button:hover {
    color:#ffffff;
    background-color: #033b25;
    border: none;
}

/* New Arrival Section  */

.new-arrival-section {
    display: flex;
}

.arrival-card {
    width: 50%;
    position: relative;
    overflow: hidden;
}

.arrival-card img {
    width: 100%;
    object-fit: cover;
    filter:drop-shadow(10px);
    filter: brightness(40%);
}

.left-arrival {
    margin-right: 10pxs;
}

.right-arrival {
    margin-left: 10px;
}

.arrival-content{
    position: absolute;
    left: 40px;
    bottom: 40px;
    color: var(--bg-main);
    
}

.arrival-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrival-btn:hover {
    background-color:  #918686;;
    border: none;
}

.arrival-btn-right:hover {
    background-color: var(--bg-main);
    color: var(--green);
}

.arrival-btn-left {
    border: none;
    background-color: #918686;
    opacity: 0.8;
    color: var(--bg-main);
    font-weight: 600;
}

.arrival-btn-right {
    border: none;
    background-color: var(--bg-main);
    color: var(--green);
    font-weight: 600;
}

.arrival-arrow {
    margin-left: 10px;
}

/* Explour our Products Section  */

.collection-section {
    margin-top: 6rem; 
    align-items: center; 
}

.collection-section h2 {
    text-align: center;
    margin-bottom: 2rem;
}

/* .collection-cards {
    display: flex;
    gap: 10px;
    align-items: start;
    border-radius: 1px;
} */

.collection-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}


.collection-card {
    cursor: pointer;
    max-width: 90%;
}

.collection-card:hover {
    color: var(--green);
    transform: scale(1.03);
}

.collection-card p {
    font-size: 25px;
}

/* Celebration Section  */

.celebrate-section {
    margin-top: 2rem;
    padding-top: 3rem;
    background-color: var(--skin);
    text-align: center;
    padding: 80px 60px;
}

.celebrate-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    /*space between */ 
    gap: 30px;
    margin-top: 160px;
    margin-bottom: 30px;
}

.celebrate-cards h3 {
    font-size: 22px;
}

.celebrate-cards p {
    font-size: 18px;
    font-weight: 550;
    color: var(--text-muteds);
    line-height: 1.5;
    margin-bottom: 18px;
    margin: 0 auto;
}

.celebrate-card {
    width: 31%;
    height: 500px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.celebrate-card:hover {
    transform: scale(1.03);
}

.celebrate-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeats;
}

.celebrate-card p {
    margin-bottom: 28px;
}

.celebrate-btn {
    width: fit-content;
    padding: 12px 22px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    align-items: center;
}

/* Ethior Section  */

.ethos-section {
    display: flex;
    background-color: var(--bg-main);
    margin-top: 4rem;
    margin-left: 3rem;
}

.ehos-left {
    width: 50%;
}

.ethos-left img {
    width: 100%;
    object-fit: cover;
}

.ethos-right {
    width: 50%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    padding-top: 9rem;
    gap: 30px;
}

.ethos-subtitle {
    font-size: 13px;
    letter-spacing: 1px;
    color: #0b7d4f;
    margin-bottom: 15px;
}

/* The Future Section */

.future-section {
    margin: 80px 0px 80px 0px;
    /* background-color: var(--skin); */
}

.future-container {
    background-color: var(--skin);
    display: flex;
}

.future-left {
    width: 50%;
}

.future-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.future-right {
    width: 50%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.future-right p {
    font-size: 18px;
    font-weight: 550;
    color: var(--text-muteds);
    line-height: 1.5;
    margin-bottom: 18px;
    margin: 0 auto;
}

/* Grid */
.future-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

/* Passport-size cards */
.future-card {
    position: relative;
    transition: 0.5s ease;
}

.future-card:hover {
    span {
        font-size: 27px;
    }
    transform: scale(1.05);
}

.future-card img {
    filter:drop-shadow(10px);
    filter: brightness(60%);
    width: 100%;
    height: 160px; /* passport-like */
    object-fit: cover;
    border-radius: 6px;
}

/* Centered text on image */
.future-card span {
    transition: 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    font-weight: 500;
}

/* Customer Review Section  */
.customer-reviews {
    background-color: var(--bg-main);
    padding-bottom: 3rem;
}

.reviews-heading {
    text-align: center;
    margin-bottom: 4rem;
}

.reviews-heading p {
    font-size: 18px;
    font-weight: 550;
    color: var(--text-muteds);
    line-height: 1.5;
    margin-bottom: 18px;
    margin: 0 auto;
}

.reviews-track {
    display: flex;
    gap: 31px;
    margin-bottom: 4rem;
}

.stars {
    color: #f2b01e;
    margin-bottom: 10px;
    font-size: 14px;
}

.review-card h4{
    margin-bottom: 8px;
}

.review-card span {
    padding-top: 5rem;
    margin-left: 9rem;
}

.reviews-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Footer Section  */

.site-footer {
    background-color: var(--green);
    color: #fff;
    padding: 70px 80px 20px;
}

.footer-logo img{
    color: var(--bg-main);
    width: 6em;
    filter: brightness(100%) contrast(100%);
}

.footer-top {
    display: flex;
    gap: 60px;
}

.footer-about {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-about p {
    font-size: 18px;
    font-weight: 520;
}

.footer-links {
    width: 50%;
    display: flex;
    /* gap: 60px; */
    justify-content: space-evenly;
}

.footer-links h4 {
    font-size: 18px ;
}

.footer-column li a {
    text-decoration: none;
    color: var(--bg-main);
}

.footer-column li {
    margin-top: 10px;
    margin-bottom: 8px;
    list-style: none;
}

.footer-bottom {
    margin-top: 4rem;
    text-align: center;
    background-color: #1f7b78;
    padding:8px 0 8px 0;
    border-radius: 10px;
}


/* Responsive Design  */


img {
    max-width: 100%;
    height: auto;
    display: block;
}

section {
    padding-left: 16px;
    padding-right: 16px;
}


/* Mobile device screen size  */

@media (max-width: 768px) {

    /* Top Header */
    .top-header {
        font-size: 14px;
        text-align: center;
        padding: 10px;
    }

    .social-icons {
        position: static;
        margin-top: 5px;
    }

    /* Main Header */
    .main-header {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }

    .logo img {
        width: 140px;
    }

    /* Navbar */
    .navbar {
        flex-wrap: wrap;
        gap: 10px;
    }

    /* Hero */
    .hero-content {
        margin: 20px;
        text-align: center;
    }

    .hero-headings {
        font-size: 28px;
    }

    /* Features */
    .feature-item {
        flex-wrap: wrap;
        gap: 10px;
        font-size: 16px;
    }

    /* Gift Section */
    .gift-content {
        flex-direction: column;
    }

    .gift-left,
    .gift-right {
        width: 100%;
    }

    /* New Arrival */
    .new-arrival-section {
        flex-direction: column;
    }

    .arrival-card {
        width: 100%;
    }

    /* Ethos */
    .ethos-section {
        flex-direction: column;
        margin-left: 0;
    }

    .ethos-left,
    .ethos-right {
        width: 100%;
        padding: 2rem;
    }

    /* Future Section */
    .future-container {
        flex-direction: column;
    }

    .future-left,
    .future-right {
        width: 100%;
        padding: 20px;
    }

    .future-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Footer */
    .footer-top {
        flex-direction: column;
    }

    .footer-about,
    .footer-links {
        width: 100%;
    }

}


/* Tablet Screen Size */


@media (max-width: 1024px) {

    .product-cards {
        gap: 20px;
    }

    .product-card {
        width: 45%;
    }

    .celebrate-card {
        width: 48%;
    }

    .future-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Small Mobile Phones  */


@media (max-width: 480px) {

    .hero-headings {
        font-size: 24px;
    }

    .hero-btn {
        width: 100%;
    }

    .bestseller-tabs {
        flex-wrap: wrap;
        justify-content: center;
    }

    .product-card {
        width: 100%;
    }

    .celebrate-card {
        width: 100%;
        height: auto;
    }

    .future-grid {
        grid-template-columns: 1fr;
    }
}
